.root {
  padding: 10px 20px;
  box-shadow: inset 1px 1px 0 0 #18242c, 1px 1px 0 0 #18242c;
  font-size: 14px;
  font-weight: 600;
  color: #18242c;
  cursor: pointer;
  border: 0;
  transition: 180ms ease-in-out;

  &:hover,
  &:focus {
    background: rgba(#18242c, .1);
  }

  &.active {
    background: #18242c;
    color: #f0f0f0;
  }
}
