.root {
  background: #f0f0f0;
  padding: 25px;
  text-align: center;
  font-size: 14px;
  max-width: 500px;
  margin: auto;
  box-shadow: 0 0 30px 5px rgba(46, 50, 57, .38);
}

.amountButton {
  background: #d2d2d2;
  color: #18242c;
  flex: 1;
  margin: 0 10px 30px;
  text-align: center;
  font-size: 23px;
  letter-spacing: 1px;
  cursor: pointer;
  font-weight: 600;
  transition: 180ms ease-in-out;
  position: relative;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;

  @media all and (max-width: 640px) {
    margin-left: 0;
    margin-right: 0;
    padding: 10px 0;
  }

  &:hover {
    background: #989898;
  }

  &:after {
    content: '';
    width: 0;
    height: 4px;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
    background: #18242c;
    transition: 180ms ease-in-out;
  }

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  &.active {
    background: #989898;

    &:after {
      width: 100%;
      opacity: 1;
    }
  }
}

.amountInput {
  margin: 10px 0 30px;
}